<p id="notice"><%= notice %></p>

<p>
  <strong>Distrito:</strong>
  <%= @distrito_cuidad_barrio.distrito %>
</p>

<p>
  <strong>Cuidad:</strong>
  <%= @distrito_cuidad_barrio.cuidad %>
</p>

<p>
  <strong>Barrio:</strong>
  <%= @distrito_cuidad_barrio.barrio %>
</p>

<%= link_to 'Edit', edit_distrito_cuidad_barrio_path(@distrito_cuidad_barrio) %> |
<%= link_to 'Back', distrito_cuidad_barrios_path %>
