<!-- <div class="col-md-9"> -->
  <div class="container">
                                <div class="main-card mb-3 card">
                                    <div class="card-header"><h5 class="card-title">Casos Positivos -   Avanzado</h5>
                                    </div>
                                    <div class="card-body">
<table class="mb-3 table table table-hover table-striped table-bordered dataTables_wrapper" id="dttb1">
  <thead>
   <tr>
      <th>Notificacion Nº</th>
      <th>Arbo</th>
      <th>Serotipo</th>
        <th>Estado</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
       <th>Sexo</th>
        <th>Fecha de Notificacion</th>
         <th>Fecha de sintomas</th>
       
        <th>Barrio</th>
      <th>Cuidad</th>
      <th>Distrito</th>
    
       <th>Ver en mapa</th>
      
    </tr>
  </thead>

  <tbody>
    <% @json.each do |positivo| %>

      <tr>
        <td><%= positivo["id"] %></td>
           <td> <% if positivo["arbo_nombre"] === 'Dengue' %>
          <div class="badge badge-danger">Dengue</div>
          <% end %>
          <% if positivo["arbo_nombre"] === 'Chikungunya' %>
          <div class="badge badge-warning">Chikungunya</div>
          <% end %>
          <% if positivo["arbo_nombre"] === 'Zika' %>
          <div class="badge badge-success">Zika</div>
          <% end %></td>
           <td><%= positivo["serotipo_nombre"] %></td>
          <td><% if positivo["estado"] == true %>
          <div class="badge badge-pill badge-success"> Activo </div>
          <% else %>
          <div class="badge badge-pill badge-secondary"> Inactivo</div>
            <% end %></td>
        <td><%= positivo['nombre'] %></td>
         <td><%= positivo["apellido"] %></td>
          <td><%= positivo["edad"] %></td>
          <td><%= positivo["sexo"] %></td>
           <td><%= positivo["fecha_notificacion"] %></td>
           <td><%= positivo["fecha_sintoma"] %></td>
        
           <td><%= positivo["barrio_nombre"] %></td>
           <td><%= positivo["cuidad_nombre"] %></td>
           <td><%= positivo["distrito_nombre"] %></td>
          
        <td><%= link_to positivo_path(:id =>positivo["id"] ) do %>
 
   <span class="btn btn-outline-primary">Ver en Mapa  <i class="pe-7s-map-marker"></i></span>
   
<% end %>        </td>
      
      </tr>
    <% end %>

  </tbody>
</table>


</div>

</div>
</div>