<p id="notice"><%= notice %></p>
<div class="col-lg-12">
                                <div class="main-card mb-6 card">
                                    <div class="card-body">
                                      <h5 class="card-title">Reporte</h5>
                                      
 <div class="row justify-content-end ">

  <div class="col-md-3">
 
  </div>
    </div>
 <div class="row">
 <div class="col-md-2"><p>
  <strong>Nombre:</strong>
  <%= @positivo.nombre %>
</p>

  </div>
  <div class="col-md-2">
    <p>
  <strong>Apellido:</strong>
  <%= @positivo.apellido %>
</p>

  </div>
  <div class="col-md-2">
    <p>
  <strong>Edad:</strong>
  <%= @positivo.edad %>
</p>
  </div>
  <div class="col-md-2">
    <p>
  <strong>Sexo:</strong>
  <%= @positivo.sexo %>
</p>
  </div>
  <div class="col-md-2">
    <p>
  <strong>Arbo:</strong>
  <%= @positivo.arbo %>
</p>

  </div>
  <div class="col-md-2">
    <p>
  <strong>Serotipo:</strong>
  <%= @positivo.serotipo %>
</p>

  </div>
  <div class="col-md-2">
    <p>
  <strong>Barrio:</strong>
  <%= @positivo.barrio.nombre %>
</p>
  </div>

  <div class="col-md-2">
    <p>
  <strong>Cuidad:</strong>
  <%= @positivo.cuidad.nombre %>
</p>
  </div>
  <div class="col-md-2">
    <p>
  <strong>Distrito:</strong>
  <%= @positivo.distrito.nombre %>
</p>
  </div>
 <div class="col-md-2">
    
  </div>
<div class="col-md-2">
    
  </div>
  
</div>
<div class="row">
  <div class="col-md-12" id="map" style="height: 720px">
  x
  x
</div>
  </div>
  <div class="row ">
   </br>
  </div>
  <div class="row justify-content-end">
   <%= link_to positivos_path do %>
  <i class="pe-7s-back"></i>
   <span>Volver</span>
<% end %>        

<span class="input-group-append">
  </div>
</div>

</div>


</div>



<script>
var map = L.map('map').setView([<%= @lonlat.y%>,<%= @lonlat.x%>], 13);


var icon;


function determineColor(arbo) {
  if ( arbo === 'Dengue') {
    icon = L.icon ({
       iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });
  } else if ( arbo === 'Zika' ) {
    icon = L.icon ({
       iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });
  } else {
    icon = L.icon ({
       iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    }); 
  }
}
var temp = determineColor("<%= @positivo.arbo%>");

var marker = L.marker([<%= @lonlat.y%>,<%= @lonlat.x%>], {icon: icon}).addTo(map).bindPopup("Arbo: <%= @positivo.arbo%> Edad: <%= @positivo.edad%> Sexo: <%= @positivo.sexo%> <br> Barrio: <%= @positivo.barrio.nombre%> Distrito: <%= @positivo.distrito.nombre%>"



  ).openPopup();
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);


</script>